/* Estilo general */
.App {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
  }
  
  /* Botón para alternar entre páginas */
  .toggleButton {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .toggleButton:hover {
    background-color: #f2f2f2;
  }
  
  /* Títulos */
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #2f2f2f;
  }
  
  .subTitle {
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
    margin-top: 20px;
  }
  
  /* Lista de menús */
  .ulApp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  
  .liApp {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .liApp p {
    margin: 5px 0;
  }
  
  .liApp p:first-child {
    font-weight: bold;
    color: #2f7d31; /* Verde */
  }
  
  /* Lista de comidas */
  .ulFoods {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  
  .liFoods {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 15px;
    width: 220px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .foodImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .foodItem {
    padding: 10px;
  }
  
  .foodDesc {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
  }
  
  .foodPrice {
    font-size: 18px;
    font-weight: bold;
    color: #2f7d31; /* Verde */
  }
  